@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 1s;
  scrollbar-color: #14225c;
  scrollbar-width: thin;

}

/* a barra inteira */
::-webkit-scrollbar {
  width: 8px;
}

/* o caminho da barra */
::-webkit-scrollbar-track {
  background: #060c2573;
}

/* a barrinha que serve pra deslocar */
::-webkit-scrollbar-thumb {
  background: #102366;
  border-radius: 10px;
}

/* em foco, mouse em cima */
::-webkit-scrollbar-thumb:hover {
  background: #14225c;
}

/* botões da barra (setas) */
::-webkit-scrollbar-button {
  background: #060c25;
  border-radius: 10px;
}

/* a parte do caminhio não coberto pela barra */
::-webkit-scrollbar-track-piece {
  background: #060c25;
  border-radius: 10px;
}

/* o canto onde as barras se encontram */
::-webkit-scrollbar-corner {
  background: #060c25;
}


body {
  background: #060c25;      
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.carrossel {
  width: 600px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.container-text {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  color: #ddd;
  gap: 15px;

}

.row-title {
  display: flex;
  align-items: center;
  flex-direction: row;  
  flex-wrap: nowrap;
}
.row-title a {
  justify-content: end;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
  font-size: 3.0rem;
  font-weight: 400;
  margin-right: 30px;
}

p {
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  overflow: scroll;

}

a {
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  position: relative;  
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: .5s;
}

a:hover {
  color: #000;
  background: #fff;
}

